h1{
  font-family: "Montserrat";
}

.bg-darkblue {
  background-color: #1E212D;
}

.header-white {
  color: white;
}

.header-div {
}

.main-header{
  font-size: 3em;
  margin-bottom:30px;
}

.header-left-div {
  text-align: center;
  margin-top: 100px;
}

.header-right-div {
  text-align: center;
}

.iphone-img {
  height: 500px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.download-btn{
  margin: 30px 30px;
}

.second-div{
  background: #FAF3E0;
}

.third-div{
  background: #FFF;
  height: 600px;
}

.fourth-div{
  height: 100px;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.logos-div{
  text-align: center;
}

.logo{
  padding: 100px 0;
}

.fa-dot-circle{
  font-size: 4em;
  margin-bottom: 20px;
  color: #1E212D;
}
