h1{
  font-family: "Montserrat";
}

h3{
  font-family: "Montserrat";
  font-size: 1.5em;
}

.bg-darkblue {
  background-color: #1E212D;
}

.header-white {
  color: white;
}

.header-div {
}

.main-header{
  font-size: 3em;
  margin-bottom:30px;
}

.header-left-div {
  text-align: center;
  margin-top: 100px;
}

.header-right-div {
  text-align: center;
}

.iphone-img {
  height: 500px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.download-btn{
  margin: 30px 30px;
  width: 150px;
}

.second-div{
  background: #FAF3E0;
}

.third-div{
}

.fourth-div{
  height: 100px;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.features-div{
  text-align: center;
}

.feature-div{
  padding: 70px 0;
}

.feature-logo{
  margin-bottom: 20px;
  color: #B68973;
}

.feature-paragraph{
  color: gray;
  width: 70%;
  margin: auto;
  font-size: 1.125em;
}

.carousel-indicators li {
  background-color: #343a40;
}

.carousel-indicators .active {
  background-color: #343a40;
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(80%);
}

.carousel-item{
  text-align: center;
  padding: 20%;
  height: 500px;
}

.tester-img{
  width: 80px;
  height: 80px;
  border-radius: 50% 50%;
}

.tester-text{
  margin-bottom: 50px;
}
